@charset "utf-8";


/* reset */
*,html{margin: 0;padding: 0;}
a{text-decoration: none;color: inherit;}
ul,li{margin: 0;padding: 0;list-style: none;}

body{width: 100%;height: 100vh;background: linear-gradient(180deg, #DD6D6D 0%, #FFBAA4 100%);color: #fff; font-family: 'Inter'/* ,'Noto Sans KR' */;font-weight: 500;}

#wrap{width: 100%;}
/* 헤더 */
#wrap header{width: 90%; height: 10vh;margin: 0 auto;}
#wrap header .lm{width: 100%;height: 80px;display: flex;justify-content: space-between;}
#wrap header .lm h1.logo img{margin-top: 40px;width: 55px;}
#wrap header .lm .pcMenu{margin-top: 47px;}
#wrap header .lm .pcMenu ul{width: 400px;display: flex;justify-content: space-between;}
#wrap header .lm .pcMenu ul li a{opacity: 1;}
#wrap header .lm .pcMenu ul li a:focus,
#wrap header .lm .pcMenu ul li a:hover{opacity: 0.7;}
#wrap header .lm .mobileMenu{display: none;}

/* 메인 */
#wrap main{width: 100%;height: 80vh;}
#wrap main .center{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
#wrap main .center img{max-width: 100%;}

/* 푸터 */
#wrap footer{width: 90%;margin: 0 auto;height: 50px;position: relative;}
#wrap footer .btn{position: absolute;bottom: -5px;right: -5px;}

/* 팝업 */
#popup{position: absolute;right: 42px;bottom: 42px;width: 400px;height: 425px;border-radius: 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background: url(../images/popup.png) no-repeat center/cover;display: none}
#popup span.close{position: absolute;top: 20px;right: 20px;display: block;opacity: 1;}
#popup span.close:hover{opacity: 0.7;}


/* 닫기버튼 */
#wrap header .lm .mobileMenu .overlay .overlay-content{
    position: relative;top: 25%;width: 100%;text-align: center;
}
#wrap header .lm .mobileMenu .overlay .overlay-content ul li a {padding: 15px; font-size: 20px;display: block;transition: 0.3s;}
#wrap header .lm .mobileMenu .overlay .overlay-content ul li a:hover,
#wrap header .lm .mobileMenu .overlay .overlay-content ul li a:focus{opacity: 0.5;}


/* mobile */
@media(max-width:720px) {

    /* pc메뉴 가려줌 */
    #wrap header .lm .pcMenu {
        display: none;
    }

    /* mobile 메뉴 보여줌 */
    #wrap header .lm .mobileMenu {
        display: block;
    } 

    #wrap header .lm .mobileMenu span {
        display: block;
        position: absolute;
        top: 45px;
        right: 30px;
    } 
    #wrap header .lm .mobileMenu span img:hover {
        opacity: 0.7;
    }
/* 모바일 메뉴 전체박스 */
#wrap header .lm .mobileMenu .overlay {
    width: 0;
    height: 100%;
    position: fixed;
    z-index:2;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
    transition: .1s;
}
/* 닫기버튼 */
#wrap header .lm .mobileMenu .overlay .closeBtn {
    position: absolute;top: 45px;right: 30px;
}
/* popup */
#popup {
    max-width: 90%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

}
}